syntax: glob

.gradle
local.properties
.idea
*.iml
app/*.iml
pkg/*.iml
pkg/*.params
pkg/log.txt
crypto/*.iml
app/build
pkg/build
crypto/build
.DS_Store
build
jpbc
sugar
.hg
.hgignore
.git
pkg/users.txt
pkg/sk.txt
pkg/errors.log
pkg/msk.sign.param
pkg/users.txt
pkg/errors.log
